[submodule "tools/pyxed"]
	path = tools/pyxed
        url = https://github.com/huku-/pyxed
        ignore = dirty
[submodule "emu/qemu"]
	path = emu/qemu
        url = https://github.umn.edu/yanxx297/qemu
        ignore = dirty
