[submodule "tools/pyxed"]
	path = tools/pyxed
        url = https://github.com/huku-/pyxed
        ignore = dirty
[submodule "emu/qemu"]
	path = emu/qemu
        url = https://github.com/yanxx297/qemu
        ignore = dirty
[submodule "tools/mbuild"]
	path = tools/mbuild
	url = https://github.com/intelxed/mbuild
[submodule "tools/xed"]
	path = tools/xed
	url = https://github.com/intelxed/xed
[submodule "tools/z3"]
	path = tools/z3
	url = https://github.com/Z3Prover/z3
